.hero {
    background-color: #1f2937;
    padding: 0 180px 80px 180px;
}

.header{

    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #f9faf8;
    font-size: 24px;
}

.header-links{
    color:#e5e7eb;
    font-size: 18px;
}
.hero-content{

    display:flex;
    justify-content: center;
    gap: 50px;
}

.hero-txt{
}
.hero-main{
    color:#f9faf8;
    font-size: 48px;
    font-weight:800;
}

.hero-sub{
    color:#e5e7eb;
    font-size: 18px;
}

.hero-img{
    width: 300px;
    height:auto;

}

.signup{
    background-color:#3882F6;
    color:#f9faf8;
    border-radius:15px;
    font-size: 18px;
    border:none;
}